<ul>
  {{#each question.answers as |answer|}}
    <li>Timestamp: {{answer-timestamp answer}}</li>
    <li>Question: {{question.pregunta}}</li>
    <li>Answer: {{answer.respuesta}}</li>
    <li>Author: {{answer.author}}</li>
    <hr>
  {{/each}}
</ul>
