<div class="container">
  <header class="jumbotron">
    {{#link-to 'index'}}<h1>Question Answer</h1>{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
    <p>You've got questions and strangers believe they have answers.</p>
  </footer>
</div>
